html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  background-color: black;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: gray;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#footerimagem{
  float: left;
}


#topo{
  background-color: #333;
}

#abaixonav{
  text-align: center;
  border-top-width: 5px;
  border-top-color: red;
  border-top-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: red;
  border-bottom-style: solid;
}

#abaixonav img{
  width: 500px;
}

#evento{
  text-align: center;
  border-bottom-width: 5px;
  border-bottom-color: red;
  border-bottom-style: solid;
}

#evento{
  text-align: center;
}

#evento img{
  border-radius: 20px 20px 20px 20px;
}

#evento h4{
  font-weight: bold;
  font-size: 30px;
}

#evento p{
  font-weight: bold;
}

#asiesquerda {
  float: left;
  width: 50%;
  display: relative;
  border-right-width: 5px;
  border-right-color: red;
  border-right-style: dotted;
  border-left-width: 5px;
  border-left-color: red;
  border-left-style: dotted;
}

#asidireita{
  float: right;
  width: 40%;
  border-right-width: 5px;
  border-right-color: red;
  border-right-style: dotted;
}

#asidireita h2, iframe{
  margin-top: -20px;
}

.entraform{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.entraform label{
  font-weight: bold;
}

.entraform #user, #pwd{
  width: 200px;
}

.entraform #pwd{
  margin-left: 12px;
}

.entraform #entrar{
  border-radius: 20px 20px 20px 20px;
  background-color: black;
  color: white;
}


.entraform #entrar:hover{
  color: red;
}

.sobre {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.sobre img{
  width: 800px;
}

.formevento{
  font-family: Arial, Helvetica, sans-serif;
}

.formevento fieldset{
  width: 800px;
}

.formevento #user, #password, #auth_pass{
  width: 500px;
}

.formevento #nome, #email, #github{
  width: 500px;
}

.formevento legend{
  font-weight: bold;
}

.formevento input, select{
  border-radius: 5px 5px 5px 5px;
}

.formevento #enviar, #resetar{
  width: 90px;
  background-color: black;
  color: white;
}

.formevento #enviar:hover, #resetar:hover{
  color: red;
}

.contatoform{
  font-weight: bold;
}

.contatoform fieldset{
  width: 200px;
}

.contatoform #nome, #email{
  width: 300px;
}

.contatoform textarea{
  resize: none;
  width: 300px;
  height: 100px;
}

.contatoform input, select{
  border-radius: 5px 5px 5px 5px;
}

.contatoform #envio{
  width: 90px;
  background-color: black;
  color: white;
  margin-top: 30px;
}

.contatoform #envio:hover{
  color: red;
}

.ADS p{
  font-family: Arial, Helvetica, sans-serif;
}

.ADS #ptitle{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.ADS #ptext{
  font-style: italic;
  font-size: 20px;
  text-align: justify;
}

.EP p{
  font-family: Arial, Helvetica, sans-serif;
}

.EP #ptitle{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.EP #ptext{
  font-style: italic;
  font-size: 20px;
  text-align: justify;
}